<link rel="stylesheet" type="text/css" href="Groups.css">
<html>
<div id="main">
<div id="SearchBar">
    <input type="text" placeholder="SEARCH..."class="search" />
    <button type="button"class="button">Search</button>
    <div id="createGroup">
        <button type="button" class="otherbutton">Create Group</button><br />
    </div>
</div>
<div>
    <div id="Groups">
        <h1>My Groups</h1>
    </div>
    <div id="divider">
    <div id="suggested">
       <h2>Suggested Groups</h2>
    </div>
    </div>
</div>
    <div id="copyright">
        <h3>© ALL RIGHTS RESERVED</h3>
    </div>
</div>
</html>