<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="CSS/signCSS.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="JS/navbarJS.js"></script>
<script src="JS/dobPicker.min.js"></script>
<script src="JS/dateselector.js"></script>

</head>
<body>

<div class="w3-top w3-moblie">
<div class="w3-bar w3-border w3-text-white "id="nav_bar">
	<span class="w3-bar-item"></span>
<h1 class="w3-bar-item">MUNSSN</h1>
<% if (lmessage.length > 0) { %>
		<div class="alert alert-danger"><%= lmessage %></div>
<% } %>
  <span  class="w3-bar-item w3-right"><form action="/login" method="post">
		<span class="w3-bar-item w3-small" >Email:<br><input type="text" name="email" value=""class="w3-border " ></span>
		<span  class="w3-bar-item w3-small" >Password:<br><input type="password" name="password" value="" class=" w3-border " ></span>
	<span  class="w3-bar-item w3-small"> <button type="submit" class="w3-button w3-red w3-padding-16">Log In</button></span>
	</form></span>
</div>
</div>

<div class="w3-moblie w3-container w3-content" style="max-width:1400px;margin-top:100px">
	<div id = "profLeft"class =" w3-half w3-moblie" >
		<div class="w3-container  w3-center">
		<img src="/images/MUN_Logo.png" class="w3-bar-item" height="150px" width="300px">
		<h4> Synergy - Love - Inspiration</h4>
		</div>
		<div class="w3-container w3-margin-left w3-center">
			<h2 class="w3-wide">Kinectic</h2>
				<h2 class="w3-wide">Innovation</h2>
					<h2 class="w3-wide">Restitution</h2>
						<h2 class="w3-wide" >Socialiaztion</h2>
					</div>
	</div>
	<div  class=" w3-half w3-moblie w3-margin-top w3-round w3-small ">
		<h1 >Create a New Account</h1>
		<h4> It’s free for Our MUN students</h4>
				<form class="signForm" action="/signup" method="post" >
					<input class="w3-margin-right w3-third w3-input w3-border w3-round w3-white" type="text" name="fName" placeholder="First Name"required>
					<input class="w3-third w3-input w3-border w3-round w3-white" type="text" name="lName"  placeholder="Last Name" required><br><br><br>
					<input class="iBox w3-input w3-border w3-round w3-white" type="text" name="email" placeholder="Email" required><br>
					<input class="iBox w3-input w3-border w3-round w3-white" type="text" name="emailC"  placeholder="Email Confirm" required><br>
					<input class="iBox w3-input w3-border w3-round w3-white" type="password" name="password" placeholder="Password" required><br>
					<input class="iBox w3-input w3-border w3-round w3-white" type="password" name="passwordC" placeholder="Password Confirm" required><br>
					<input class="w3-margin-right w3-third w3-input w3-border w3-round w3-white" type="text" name="schoolyear" placeholder="School Year"required>
					<input class="w3-third w3-input w3-border w3-round w3-white" type="text" name="major"  placeholder="Major" required><br><br>
					<h4>Birthday</h4>
					<!-- These are the select elements we will target -->
					<select id="dobday" name="day"></select>
					<select id="dobmonth" name = "month"></select>
					<select id="dobyear" name = "year"></select>
					<br><br>
					<select name = "gender" required><option value="">Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
					<br><br>
					<button type="submit" class= "w3-button w3-red">Signup</button>
				</form>
				<% if (smessage.length > 0) { %>
						<div class="alert alert-danger"><%= smessage %></div>
				<% } %>
	</div>

</div>


</body>
</html>
