<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 600px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <div id="message">Location saved</div>
    <div id="form">
      <table>
        <form action="/lostfoundpost" method="post"  enctype   =  "multipart/form-data">
  					<textarea name="message" rows="4" placeholder="Enter Description here."></textarea>
            <input type ="text" name ="location" placeholder="location">
            <input type ="text" name ="phone" placeholder="phone"><br>
            <input type="file" name = "picture"/>
            <input type="hidden" name="email" value="<%= user.local.email %>"><br>
  				  <input type="submit" value="Post" name="submit">
  					</form>
      </table>
    </div>
    <div id="lat">
    </div>
    <div id="lng">
    </div>
    <script>
      var map;
      var marker;
      var infowindow;
      var messagewindow;

      function initMap() {
        var mun = {lat: 47.573640, lng: -52.733247};
        map = new google.maps.Map(document.getElementById('map'), {
          center: mun,
          zoom: 18
        });
        // document.getElementById('form').style.display='none';

        //ejs only part, adjust to the post information you are passing in
      <%  postlist.forEach(function(post){ %>
          var pMarker = new google.maps.Marker({
            position: {lat:<%= post.lat %>,lng:<%=post.lng %>},
            map: map
          });
          contentWindow = new google.maps.InfoWindow({
            content: <%= post.description %>
          })
          google.maps.event.addListener(pMarker, 'click', function() {
            // document.getElementById('form').style.display='block';
            contentWindow.open(map, marker);
          });
        <% }) %>
        // here finishes the ejs only part

        infowindow = new google.maps.InfoWindow({
          content: document.getElementById('form')
        })

        messagewindow = new google.maps.InfoWindow({
          content: document.getElementById('message')
        });

        google.maps.event.addListener(map, 'click', function(event) {
          marker = new google.maps.Marker({
            position: event.latLng,
            map: map
          });

          marker.addListener('dblclick', function() {
            marker.setMap(null);
          });


          infowindow.open(map, marker);
          var lat = document.getElementById('lat');
          lat.value = marker.getPosition().lat;
          var lng = document.getElementsById('lng');
          lng.value = marker.getPosition().lng;

          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
          });


        });
      }


      function saveData() {
        var name = escape(document.getElementById('name').value);
        var address = escape(document.getElementById('address').value);
        var phone = document.getElementById('phone').value;

        var latlng = marker.getPosition();
        var url = 'phpsqlinfo_addrow.php?name=' + name + '&address=' + address +
                  '&type=' + phone + '&lat=' + latlng.lat() + '&lng=' + latlng.lng();

        downloadUrl(url, function(data, responseCode) {

          if (responseCode == 200 && data.length <= 1) {
            infowindow.close();
            messagewindow.open(map, marker);
          }
        });
      }

      function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;

        request.onreadystatechange = function() {
          if (request.readyState == 4) {
            request.onreadystatechange = doNothing;
            callback(request.responseText, request.status);
          }
        };

        request.open('GET', url, true);
        request.send(null);
      }

      function doNothing () {
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf013VduAovGDVoWwtLeyplwvG4CcLSQQ&callback=initMap">
    </script>
  </body>
</html>
