.search{
    padding: 5px;
    background: white;
    border: 1px solid white;
    width: 400px;
    border-radius: 15px;
}
.button{
    background-image: url(./images/search-button-icon.PNG);
    position: relative;
    background-color: #207cca;
    color: white;
    width: 75px;
    height: 25px;
    border-radius: 5px;
}
.otherbutton{
    position: relative;
    background-color: darkred;
    color: yellow;
    width: 175px;
    height: 35px;
    border-radius: 10px;
    border-color: yellow;
    font-size: 22px;
}
html body{
    background-color: #ffffff;
}
#main{
    background-color: darkred;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    width: 80%;
    height: 90%;
    left: 10%;
    top: 5%;
    color: white;
}
#createGroup{
     float: right;
}
#Groups{
    width: 45%;
    float: left;
}
#divider{
    width: 40px;
    height: 90%;
    border-left: thick solid white;
    float: left
}
#suggested{
    width: 45%; 
    float: right;
}
#copyright{
    position: absolute;
    top: 92%;
    left: 2%;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 2em;
}